<h3>Equipment</h3>
<ul>
    <li *ngFor="let item of equipment">
        <span *ngIf="equipBeingEdited !== item; else elseBlock">
          <span (click)="edit(item)" class="editable-text">{{item}}</span>
          <button (click)="remove(item)">remove</button>
        </span>
        <ng-template #elseBlock>
            <input #updatedEquip (keyup.enter)="save(updatedEquip.value, item)" value="{{item}}"/>
            <button (click)="save(updatedEquip.value, item)">save</button>
        </ng-template>
      </li>
</ul>
<input #equip type="text"/>
<button (click)="add(equip.value)">Add</button>